.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hero-content {
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  max-width: 550px;
  z-index: 1;
}

.hero-content h1 {
  font-size: 70px;
  line-height: 0.95;
  margin: 20px 0;
  font-weight: 700;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.hero-content button {
  padding: 14px 28px;
  border: none;
  background: white;
  color: #111;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}